<div class="alert alert-danger">
  <h2 class="font-weight-bold">
    Credenciales incorrectas!
  </h2>
  <h6>
    Será redirigido a la pantalla principal en unos segundos...
  </h6>
</div>
<script>
  setTimeout(()=>{
        location.href = '/';
    }, 1500);
</script>