<div class="alert alert-danger">
  <h2 class="font-weight-bold">
    SIGN UP ERROR
  </h2>
  <h4>
    Quizás ese mail ya esté registrado!
  </h4>
  <h6>
    Será redirigido a la pantalla principal en unos segundos...
  </h6>
</div>
<script>
  setTimeout(()=>{
        location.href = '/';
    }, 3000);
</script>