<div class="container p-3">
  <h2 class="my-3">
    Tu Carrito:
    <span id="cartAmount">$</span>
  </h2>
  <span id="cartList"></span>
</div>
<div class="container d-flex justify-content-between p-3">
<button id="checkoutBtn" class="btn btn-primary" onclick="checkout()">
  Finalizar Compra!
</button>
<button class="btn btn-secondary" onclick="goHome()">
  Seguir comprando
</button>
</div>